<!DOCTYurlPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="https://use.fontawesome.com/46c738808b.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="/favicon.ico">
</head>
<body>
<div class="wholebox">
    <div class="navbar">
        <form action="/add" method="post" class="searchbar">
            <input id="song_url" type="text" name="song_url"
                   placeholder="Paste URL to spit on YouTube...">
            <input class="button" type="submit" value="Ptui!">
        </form>
    </div>

    <div class="navbar">
        <form action="/bookmark_download" method="post" class="searchbar">
            <input id="bookmark_path" type="text" name="bookmark_path"
                   placeholder="Type chrome bookmark name where you keep your music...">
            <input class="button" type="submit" value="Ptui!">
        </form>
    </div>

    <div class="bookmark-success">

        % if bookmark_success == True:
        <a>Success</a>
        % elif bookmark_success == False:
        <a>Failed. There is no such bookmark in your browser.</a>
        % elif bookmark_success == None:

        % end


    </div>
</div>
<div class="tiles">
<div class="row">
    %for song in songs:
  <div class="column">
        <div class="card">
          <h3>{{song['title']}}</h3>
          <a href="/download/{{song['yt_id']}}">
               <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
               <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
               <line x1="12" y1="11" x2="12" y2="17"></line>
               <polyline points="9 14 12 17 15 14"></polyline>
               </svg>
          </a>
        </div>
  </div>
    %end
</div>
</div>


</body>
</html>